<% provide(:title, 'New Group') %>
<h1>Add New Group</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@group) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.submit "Create Group", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>