<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      <p><%= "#{@user.house_number} #{@user.street}" %></p>
    </section>
    <section>
      <%= render 'favorites', user: @user %>
    </section>
  </aside>
  <div class="span8">
    <h1>Orders</h1>
    <%= render 'order_items', orders: @orders, user: @user %>
  </div>
</div>