<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      <p><%= link_to "#{@user.group.name}", group_path(@user.group.id) %></p>
      <p><%= "#{@user.house_number} #{@user.street}" %></p>
    </section>
    <section>
    </section>
  </aside>
  <div class="span8">
    <h1>Orders</h1>
    <%= render 'order_items', orders: @orders, user: @user %>
  </div>
</div>