<%= render 'layouts/order_table', orders: @order %>  
<%= render 'layouts/order_items_table', order: @order %>
<table class="table table-striped table-hover table-condensed table-bordered items-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total</th>
      <th>Confirmed?</th>
    </tr>
  </thead>
  <tbody>
  <% @order.group.users.each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td><%= number_to_currency(total_price(member.orderitems), unit: '£') %></td>
      <td>yes</td>
    </tr>
  <% end %>
  </tbody>
</table>