<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Category
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu filter-list">
      <% Category.all.each do |category| %>
      <li><%= link_to "#{category.name}", category_items_path(category.id) %></li>
      <% end %>
    </ul>
    </div>
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Brand
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu filter-list">
      <% Brand.all.each do |brand| %>
      <li><%= link_to "#{brand.name}", brand_items_path(brand.id) %></li>
      <% end %>
    </ul>
    </div>
</div>