<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "SumaOrder", '#', class: "brand" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to '<i class="icon-home"></i>'.html_safe, '#' %></li>
          <li><%= link_to "Help", '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>